<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'mobile' %>
    <%= stylesheet_link_tag "/jqtouch/jqtouch.min.css", "/jqtouch/themes/apple/theme.min.css" %>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript"> google.load("jquery", "1.4.2"); </script>
    <%= javascript_include_tag "/jqtouch/jqtouch.min.js" %>
    <%= javascript_include_tag 'mobile' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="current">
      <div class="toolbar">
        <%= link_to "Full Site", root_url(:mobile => 0), :class => "button", :rel => "external" %>
        <%= yield(:toolbar) %>
      </div>

      <div id="wrapper">
        <% unless flash.empty? %>
          <div class="info">
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
