<!DOCTYPE html>
<html>
<head>
  <title>Timely</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'mobile' if mobile_device? %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="wrapper">
  <p>
    <% if mobile_device? %>
      <%= link_to "Full Site", :mobile => 0 %>
    <% else %>
      <%= link_to "Mobile Site", :mobile => 1 %>
    <% end %>
  </p>
  <%= yield %>
</div>
</body>
</html>
